// ***********************************
// BUTTONS
// ***********************************

.primary_bg{
	background: $primary_color;
}
.secondary_bg{
	background: $secondary_color;
}
.accent_bg{
	background: #B70985;
}

.cat_link_big{
	padding: 30px 10px;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	width: 240px;
	clear: both;
}
