// ***********************************
// PANELS
// ***********************************

/* .panel{
	padding: 40px;
	margin: 20px;
	background: $panel;
}

.panel.callout{
	background: $color1;
	color: $white;
} */