// ***********************************
// SLIDERS
// ***********************************
.splash_page_area{
  background: #000;
  overflow: hidden;
    display: block;
   height: 100vh;
}
.splash_page_area:after{
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);

  position: absolute;
  z-index: -1;
}
.splash_page_area:before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);

  position: absolute;
  z-index: 1;
}
#myCarousel {
  margin-top: 50px;
}



.carousel-control.right, .carousel-control.left{
  background: transparent !important;
  display: none;
}


.carousel-indicators{
  display: none;
}

.carousel-indicators li {
  display: none;
}
.carousel-indicators .active {
  display: none;
}










 






/* Fade transition for carousel items */

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition: opacity 1.5s ease 0s;
  -moz-transition: opacity 1.5s ease 0s;
  -o-transition: opacity 1.5s ease 0s;
  -ms-transition: opacity 1.5s ease 0s;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/* Fade transition for carousel items */

.carousel_fade_second .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition: opacity 1.5s ease 0s;
  -moz-transition: opacity 1.5s ease 0s;
  -o-transition: opacity 1.5s ease 0s;
  -ms-transition: opacity 1.5s ease 0s;

  p{
      font-weight: 600;
      letter-spacing: 1.5px;
      text-transform: uppercase;

  }

}
.carousel_fade_second .carousel-inner .active {
  opacity: 1;
}
.carousel_fade_second .carousel-inner .active.left,
.carousel_fade_second .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel_fade_second .carousel-inner .next.left,
.carousel_fade_second .carousel-inner .prev.right {
  opacity: 1;
}
.carousel_fade_second .carousel-control {
  z-index: 2;
}