@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
/* line 5, ../../sass/2-base/_basement.scss */
html {
  font-size: 100%;
  background: pink;
}

/* Text meant only for screen readers */
/* line 29, ../../sass/2-base/_basement.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* line 37, ../../sass/2-base/_basement.scss */
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/* line 60, ../../sass/2-base/_basement.scss */
.blog .format-aside .entry-title, .archive .format-aside .entry-title {
  display: none;
}

/* Globally hidden elements when Infinite Scroll is supported and in use. */
/* line 68, ../../sass/2-base/_basement.scss */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
/* line 73, ../../sass/2-base/_basement.scss */
.infinity-end.neverending .site-footer {
  display: block;
}

/* line 5, ../../sass/2-base/_typography.scss */
a, a:visited {
  text-decoration: none;
  color: #dd4b39;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* line 10, ../../sass/2-base/_typography.scss */
a:hover, a:active, a:focus {
  color: #140503;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* line 20, ../../sass/2-base/_typography.scss */
h1, h1.entry-title, h1.site-title, h1.site-title a, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  line-height: 1em;
  clear: both;
}

/* line 29, ../../sass/2-base/_typography.scss */
h1.site-title, h1.site-title a {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}
/* line 33, ../../sass/2-base/_typography.scss */
h1.site-title a, h1.site-title a a {
  color: #333333;
}
/* line 36, ../../sass/2-base/_typography.scss */
h1.site-title a:hover, h1.site-title a a:hover {
  color: #dd4b39;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

/* line 45, ../../sass/2-base/_typography.scss */
h1.entry-title {
  font-size: 3em;
  font-weight: 400;
  font-size: 36px;
}
/* line 50, ../../sass/2-base/_typography.scss */
h1.entry-title a {
  color: #333333;
}
/* line 53, ../../sass/2-base/_typography.scss */
h1.entry-title a:hover {
  color: #dd4b39;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

/* line 62, ../../sass/2-base/_typography.scss */
h1.widget-title {
  font-size: 18px;
  font-weight: 400;
}

/* line 69, ../../sass/2-base/_typography.scss */
h2.site-description {
  font-size: 16px;
  text-align: center;
  font-weight: 300;
}

/* line 78, ../../sass/2-base/_typography.scss */
b, strong {
  font-weight: bold;
}

/* line 82, ../../sass/2-base/_typography.scss */
dfn, cite, em, i {
  font-style: italic;
}

/* line 86, ../../sass/2-base/_typography.scss */
blockquote {
  border-left: 10px solid whitesmoke;
  padding-left: 15px;
}

/* line 92, ../../sass/2-base/_typography.scss */
blockquote.pq {
  background: #dd4b39;
  color: #fff;
  border-left: medium none;
  font-size: 1.4em;
  line-height: 1.6em;
  padding: 30px;
}
/* line 102, ../../sass/2-base/_typography.scss */
blockquote.pq::before {
  content: "\"";
}
/* line 105, ../../sass/2-base/_typography.scss */
blockquote.pq::after {
  content: "\"";
}

/* line 110, ../../sass/2-base/_typography.scss */
cite {
  display: block;
  padding-top: 20px;
}

/* line 115, ../../sass/2-base/_typography.scss */
address {
  margin: 0 0 1.5em;
}

/* line 120, ../../sass/2-base/_typography.scss */
pre {
  background: whitesmoke;
  font-family: 10px "Monaco", monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

/* line 130, ../../sass/2-base/_typography.scss */
code, kbd, tt, var {
  font-family: 10px "Monaco", monospace;
}

/* line 134, ../../sass/2-base/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted whitesmoke;
  cursor: help;
}

/* line 139, ../../sass/2-base/_typography.scss */
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

/* line 144, ../../sass/2-base/_typography.scss */
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 153, ../../sass/2-base/_typography.scss */
sup {
  bottom: 1ex;
}

/* line 157, ../../sass/2-base/_typography.scss */
sub {
  top: .5ex;
}

/* line 161, ../../sass/2-base/_typography.scss */
small {
  font-size: 75%;
}

/* line 165, ../../sass/2-base/_typography.scss */
big {
  font-size: 125%;
}

/* line 169, ../../sass/2-base/_typography.scss */
.form-allowed-tags {
  font: 10px "Monaco", monospace;
  color: #999999;
}

/* line 5, ../../sass/2-base/_images.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* line 10, ../../sass/2-base/_images.scss */
figure {
  max-width: 100%;
  margin: 1em 20px;
}
/* line 14, ../../sass/2-base/_images.scss */
figure figcaption {
  text-align: center;
  font-size: 14px;
  color: #b3b3b3;
  font-style: italic;
  letter-spacing: -.5px;
}

/* line 28, ../../sass/2-base/_images.scss */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

/* line 32, ../../sass/2-base/_images.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}

/* line 36, ../../sass/2-base/_images.scss */
.wp-caption-text {
  text-align: center;
}

/* line 39, ../../sass/2-base/_images.scss */
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/* line 48, ../../sass/2-base/_images.scss */
.page-content img.wp-smiley, .entry-content img.wp-smiley, .comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers */
/* line 55, ../../sass/2-base/_images.scss */
embed, iframe, object {
  max-width: 100%;
}

/* line 64, ../../sass/2-base/_images.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* line 71, ../../sass/2-base/_images.scss */
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* line 78, ../../sass/2-base/_images.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* line 88, ../../sass/2-base/_images.scss */
.gallery {
  margin-bottom: 1.5em;
}

/* line 91, ../../sass/2-base/_images.scss */
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

/* line 97, ../../sass/2-base/_images.scss */
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

/* line 100, ../../sass/2-base/_images.scss */
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

/* line 103, ../../sass/2-base/_images.scss */
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

/* line 106, ../../sass/2-base/_images.scss */
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

/* line 109, ../../sass/2-base/_images.scss */
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

/* line 112, ../../sass/2-base/_images.scss */
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

/* line 115, ../../sass/2-base/_images.scss */
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

/* line 118, ../../sass/2-base/_images.scss */
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

@font-face {
  font-family: 'anazoa';
  src: url("fonts/anazoa.eot");
  src: url("fonts/anazoa.eot?#iefix") format("embedded-opentype"), url("fonts/anazoa.woff") format("woff"), url("fonts/anazoa.ttf") format("truetype"), url("fonts/anazoa.svg#anazoa") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 24, ../../sass/2-base/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'anazoa';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 38, ../../sass/2-base/_icons.scss */
.icon-anazoa:before {
  content: "\e600";
  font-size: 38px;
  color: #333333;
}

/* line 44, ../../sass/2-base/_icons.scss */
.icon-share:before {
  content: "\e603";
  font-size: 20px;
}

/* line 55, ../../sass/2-base/_icons.scss */
.fa-apple {
  font-size: 60px;
}

/* line 59, ../../sass/2-base/_icons.scss */
.fa-android {
  font-size: 60px;
}

/* line 63, ../../sass/2-base/_icons.scss */
.fa-twitter {
  font-size: 60px;
}
